:root {
  --color-primary: #000000;
  --color-white: #ffffff;
  --color-red: #ff0000;
  --color-blue: #00a2ed;
  --color-secondary: rgb(34, 34, 34);
  --font-white: rgb(250, 249, 248);
  --font-light-grey: #a4a4a4;
  --font-medium: 18px !important;
  --medium-screen: 640px !important;
  --small-screen: 960px;
}

.action-center {
  height: calc(100% - 40px) !important;
}

.action-center-wrapper {
  display: flex !important;
  flex-wrap: wrap !important;
  width: 100% !important;
}

.action-center-btn {
  min-height: 60px !important;
  color: var(--font-white) !important;
  background-color: rgb(50, 49, 48) !important;
}

.action-center-btn:hover {
  cursor: pointer !important;
  border: 2px solid var(--color-secondary) !important;
}

.settings-active {
  background-color: var(--color-blue) !important;
}
